.main-container {
	display: flex;
	justify-content: center;
	width: 100%;
}

.input-container, .list-container {
	width: 100%;
	height: 70vh; 
	border: 1px solid grey; 
}

.input-container h3, .list-container h3 {
	text-align: center;
}

